* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* === header === */

h1 {
  text-align: center;
  margin: 1rem 0 ;
}

/* === main === */


/* === table === */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.5rem;
  margin: auto;
}

/* === btn === */

button {
  margin: 1rem auto;
  display: block;
}

/* === dialog === */

dialog[open] {
  margin: auto;
  padding: 1rem;
}

form label {
  display: block;
  margin: 0.3rem 0;
}

dialog::backdrop {
  background-color: black;
}